services:
  dbms1:
    image: postgres:16
    environment: [POSTGRES_USER=ddbs, POSTGRES_PASSWORD=ddbs, POSTGRES_DB=ddbs1]
    ports: ["127.0.0.1:5434:5432"]
    volumes: [dbms1:/var/lib/postgresql/data]

  dbms-standby:
    image: postgres:16
    environment: [POSTGRES_USER=ddbs, POSTGRES_PASSWORD=ddbs, POSTGRES_DB=ddbs1]
    ports: ["127.0.0.1:5435:5432"]
    volumes: [dbms_standby:/var/lib/postgresql/data]

  dbms2:
    image: postgres:16
    environment: [POSTGRES_USER=ddbs, POSTGRES_PASSWORD=ddbs, POSTGRES_DB=ddbs2]
    ports: ["127.0.0.1:5433:5432"]
    volumes: [dbms2:/var/lib/postgresql/data]

  # Data Center 1 (Beijing) - Primary Cache
  redis1:
    image: redis:7
    ports: ["127.0.0.1:6379:6379"]
    volumes:
      - redis1:/data
      - ./redis1.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf

  # Data Center 2 (Hong Kong) - Primary Cache
  redis2:
    image: redis:7
    ports: ["127.0.0.1:6381:6379"]
    volumes:
      - redis2:/data
      - ./redis2.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf

  # Shared Standby Cache (can replace either DC1 or DC2)
  redis-standby:
    image: redis:7
    ports: ["127.0.0.1:6380:6379"]
    volumes:
      - redis_standby:/data
      - ./redis-standby.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf

  # HDFS NameNode
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    ports: ["127.0.0.1:9870:9870", "127.0.0.1:9000:9000"]
    volumes: [namenode:/hadoop/dfs/name]
    environment:
      - CLUSTER_NAME=ddbs-cluster
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    env_file: ./hadoop.env

  # HDFS DataNode (single node for simplicity)
  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    hostname: localhost
    ports: ["127.0.0.1:9864:9864"]
    volumes: [datanode1:/hadoop/dfs/data]
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - SERVICE_PRECONDITION=namenode:9870
    env_file: ./hadoop.env
    depends_on: [namenode]

volumes:
  dbms1: {}
  dbms_standby: {}
  dbms2: {}
  redis1: {}
  redis2: {}
  redis_standby: {}
  namenode: {}
  datanode1: {}
  datanode2: {}
  datanode3: {}
